* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: black; }

body {
  background-image: linear-gradient(to left, #F9DC88, #D1BD8F);
  text-align: center;
  /*inicio de header*/
  /*final de header*/
  /*inicio de main*/
  /*final de main*/
  /*inicio de footer */
  /*final de footer*/ }
  body header {
    z-index: 2;
    background-color: #D1BD8F; }
    body header .titulo {
      text-align: center;
      font-size: 2.1vh;
      text-transform: uppercase;
      color: black;
      text-decoration: none; }
    body header .menu {
      display: flex;
      margin: 20px;
      padding: 2rem; }
      body header .menu li {
        font-size: 2.9vh;
        display: flex;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        margin: 10px;
        padding: 10px; }
        body header .menu li a:hover {
          background-color: #B8994E;
          transform: scale(1.2); }
      body header .menu .logo {
        display: inline-block;
        height: 75px;
        width: 175px; }
  body main .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    text-decoration: none; }
    body main .grid .item {
      font-size: 4vh;
      text-transform: uppercase;
      text-align: center;
      padding: 7rem;
      grid-column: 1/ span 4; }
    body main .grid .containerVelas {
      display: grid;
      justify-content: space-between;
      list-style: none;
      margin: 10px; }
      body main .grid .containerVelas:hover {
        transform: scale(1.1); }
      body main .grid .containerVelas .imgVelas {
        grid-row: 2 / 2;
        margin: 100px;
        padding: auto; }
      body main .grid .containerVelas .subtituloVelas {
        grid-column: 1/ 2;
        padding: auto;
        font-size: 3.3vh;
        text-transform: uppercase;
        text-align: center;
        list-style: none; }
      body main .grid .containerVelas .imgVelas2 {
        grid-row: 2 / 4;
        margin: 100px;
        padding: auto; }
      body main .grid .containerVelas .subtituloDifusor {
        grid-column: 4 / 2;
        padding: auto;
        font-size: 3.3vh;
        text-transform: uppercase;
        text-align: center; }
  body footer {
    margin: none;
    text-align: center; }

/*css velas*/
.bodyVelas {
  background-image: linear-gradient(to left, #F9DC88, #D1BD8F);
  font-family: 'Roboto', sans-serif;
  color: black;
  /*inicio de header*/
  /*final de header*/ }
  .bodyVelas .headerVelas {
    background-color: #D1BD8F; }
    .bodyVelas .headerVelas .menuVelas {
      background-color: #D1BD8F;
      text-align: start;
      margin: 10px;
      padding: 2rem; }
      .bodyVelas .headerVelas .menuVelas li {
        font-size: 2.9vh;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        margin: 10px;
        padding: 10px; }
        .bodyVelas .headerVelas .menuVelas li a {
          color: black;
          text-decoration: none; }
      .bodyVelas .headerVelas .menuVelas .logoVelas {
        display: inline-block;
        height: 75px;
        width: 175px; }
  .bodyVelas .velasTitulo {
    text-transform: uppercase;
    text-align: center;
    font-size: 5vh; }
  .bodyVelas .estilosCard {
    margin: 2rem;
    background-color: brown; }
  .bodyVelas .btnEstilos {
    background-color: #D1BD8F;
    box-shadow: 2px 3px black;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem; }
    .bodyVelas .btnEstilos:hover {
      transform: scale(1.1); }
  .bodyVelas .estilosP {
    font-size: 1.8rem; }
  .bodyVelas .containerFluid .row .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

/*css productos*/
.containerProductos .perfuminas {
  text-align: center;
  font-size: 5vh;
  text-transform: uppercase;
  margin: 50px;
  padding: 50px; }

.containerProductos .perfuminasTexto, .containerProductos .perfuminasTexto2 {
  margin: 50px;
  text-align: center; }

.fotos {
  display: grid;
  grid-template-columns: auto auto;
  margin: 100px; }
  .fotos .esencias1 {
    padding: auto;
    margin: auto; }
  .fotos .esencias2 {
    padding: auto;
    margin: auto; }
  .fotos .difusor1 {
    padding: auto;
    margin: auto; }
  .fotos .difusor2 {
    padding: auto;
    margin: auto; }

.difusor {
  text-align: center;
  font-size: 5vh;
  text-transform: uppercase; }
  .difusor .difusorTexto {
    margin: 50px;
    text-align: center; }
  .difusor .difusorTexto2 {
    text-align: center; }

/*css sobre nosotros*/
.containerSobreNosotros {
  text-align: center;
  margin: 50px;
  padding: 50px; }
  .containerSobreNosotros .tituloSobreNosotros {
    margin: 10px;
    font-size: 5vh;
    text-transform: uppercase; }
  .containerSobreNosotros .textoSobreNosotros {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    margin: 3rem;
    padding: 3rem; }

/*css contactanos*/
.bodyContactanos {
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
  /*inicio de main */
  /*final de main*/ }
  .bodyContactanos .headerContactos {
    margin: 0; }
    .bodyContactanos .headerContactos .menu {
      margin: 10px;
      padding: 2rem; }
  .bodyContactanos .mainContactanos .contactosParrafos {
    margin: 20px;
    padding: 20px; }
  .bodyContactanos .formulario {
    border: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    margin: 50px; }

/*inicio de footer*/
.footer1 {
  position: absolute;
  bottom: 0;
  width: 100%; }

/*final de footer*/
img {
  width: 100%;
  height: auto; }

p {
  font-size: 20px;
  margin: 20px; }

@media only screen and (max-width: 480px) {
  body {
    text-align: center; }
    body header {
      text-align: center; }
    body .titulo {
      text-align: center; }
    body .menu {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body .menu .logo {
        margin: auto;
        align-items: center; }
      body .menu li {
        display: inline-block;
        justify-content: center; }
  main {
    align-items: center; }
    main .grid .item {
      display: grid;
      text-align: center;
      grid-column: none; }
    main .grid .containerVelas {
      display: grid;
      justify-content: start; }
      main .grid .containerVelas .imgVelas {
        display: grid;
        margin: 20px;
        height: 300px;
        width: 300px; }
      main .grid .containerVelas .imgVelas2 {
        display: none; }
      main .grid .containerVelas .subtituloVelas {
        display: grid;
        margin: 20px;
        grid-column: none;
        padding: none; }
      main .grid .containerVelas .subtituloDifusor {
        display: none; }
  .bodyVelas {
    text-align: center; }
    .bodyVelas .headerVelas {
      text-align: center; }
      .bodyVelas .headerVelas .titulo {
        color: black; }
      .bodyVelas .headerVelas .logoVelas {
        align-items: center;
        margin: auto; }
      .bodyVelas .headerVelas .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .bodyVelas .headerVelas .liVelas {
        margin: 50px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
  .fotos {
    display: flex;
    flex-direction: column;
    margin: 60px; }
    .fotos .esencias1 {
      margin: 10px; }
    .fotos .esencias2 {
      margin: 10px; }
    .fotos .difusor1 {
      margin: 10px; }
    .fotos .difusor2 {
      margin: 30px; }
  .containerSobreNosotros .textoSobreNosotros {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center; }
  .footer1 {
    position: relative; }
  .formulario {
    font-size: small; } }

@media only screen and (max-width: 768px) {
  body header .menu {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body header .menu .logo {
      margin: auto;
      width: auto;
      height: auto; }
    body header .menu li {
      display: flex;
      flex-direction: column;
      justify-content: center; }
  body .main {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    body .main .container {
      display: grid; }
      body .main .container .item {
        text-align: center; }
  .bodyVelas {
    text-align: center; }
    .bodyVelas .headerVelas {
      text-align: center; }
      .bodyVelas .headerVelas .menuVelas {
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .bodyVelas .headerVelas .titulo {
        color: black; }
      .bodyVelas .headerVelas .logoVelas {
        align-items: center;
        margin: auto; }
      .bodyVelas .headerVelas .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .bodyVelas .headerVelas .liVelas {
        margin: 50px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
  .fotos {
    display: flex;
    flex-direction: column;
    margin: 60px; }
    .fotos .esencias1 {
      margin: 10px; }
    .fotos .esencias2 {
      margin: 10px; }
    .fotos .difusor1 {
      margin: 10px; }
    .fotos .difusor2 {
      margin: 30px; }
  .footer1 {
    position: relative; } }
