@media only screen and (max-width:480px){
    body{
        text-align: center;
        header{
            
            position: absolute;
        }
        .titulo{
            text-align: center;
        }
        .menu{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .logo{
                margin:auto;
                align-items: center;
            }
        }
    }
    main{
        display: flex;
        flex-direction: column;

        align-items: center;
        .container{
            .item{
                text-align: center;
                padding: auto;
                margin: auto;
            }
            .containerVelas{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-decoration: none;
                .imgVelas{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    

                }
                .subtitulosVelas{
                   display: none;
                }
                .imgVelas2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
                .subtitulosDifusor{
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width:768px){
    
}